.helpBlock {
	background-color: #1f1f1f;
	padding: 14px;
	border-radius: 8px;
	position: relative;
}

.helpBlock img {
	width: 54px;
	height: 78px;
	margin-bottom: 14px;
}

.btnBox {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.helpText {
	font-family: Poppins;
	width: 168px;
	font-weight: 400;
	font-size: 12px;
	line-height: 133%;
	letter-spacing: -0.02em;
	color: #fff;
	margin-bottom: 18px;
}

.taskProSpan {
	color: #bedbb0;
}

.helpSvg {
	width: 20px;
	height: 20px;
}

.iconHelpCircle {
	width: 20px;
	height: 20px;
	stroke: white;
}

.helpBtn {
	display: flex;
	align-items: center;
	gap: 8px;
	border: none;
	background-color: transparent;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: -0.02em;
	color: #fff;
}
@media (min-width: 375px) {
	.helpBlock {
		max-width: 335px;
	}
}

@media (min-width: 768px) {
	.helpBlock {
		max-width: 473px;
	}
}
