/* _________DARK_________ */
.addColumnBtn {
	display: inline-flex;
	padding: 14px 78px 14px 79px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: #121212;
	border: none;
	height: 56px;
	width: 335px;
	flex-shrink: 0;
	transition: background-color 250ms ease-in;
}

.addColumnBtn:hover {
	background-color: var(--color-form-background);
}

.iconAddColumnBtn {
	/* margin-left: 5px; */
	width: 28px;
	height: 28px;
	padding: 7px;
	stroke: #121212;
	background-color: #fff;
	border-radius: 8px;
}

.textAddColumnBtn {
	color: #fff;
	margin-left: 8px;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.28px;
}

/* _________VIOLET_________ */

.addColumnBtn.violet {
	border: none;
	background-color: var(--primary-color-violet);
	color: var(--primary-color-text-white);
}

.addColumnBtn.violet:hover {
	background-color: #7b7ede;
}

.iconAddColumnBtn.violet {
	stroke: #fff;
	background-color: var(--secondary-color-black-background);
}

.textAddColumnBtn.violet {
	color: var(--primary-color-text-white);
}

/* _________LIGHT_________ */

.addColumnBtn.light {
	background: #fff;
}

.addColumnBtn.light:hover {
	background-color: var(--color-white-background);
}

.iconAddColumnBtn.light {
	stroke: #fff;
	background-color: #161616;
}

.textAddColumnBtn.light {
	color: #161616;
}
