.modalOverlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal {
	position: relative;
	padding: 24px;
	max-width: 335px;
	height: 221px;
	border-radius: 8px;
	background: #151515;
}

.modalTitle {
	margin-bottom: 24px;
	color: #fff;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.36px;
}

.input {
	margin-bottom: 24px;
	width: 100%;
	padding: 14px 0px 14px 18px;
	border: 1px solid rgba(190, 219, 176, 0.3);
	border-radius: 5px;
	background: #1f1f1f;
	color: white;
	font-size: 1em;
	box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
	transition: border-color 350ms ease-in-out;
}

.input:focus,
.input:hover {
	background-color: rgba(31, 31, 31, 1);
	border-color: rgba(190, 219, 176, 1);
	outline: none;
}

.addButton {
	display: flex;
	width: 287px;
	padding: 10px 0px 11px 0px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: #bedbb0;
	border: none;
	transition: background-color 350ms ease-in-out;
}

.addButton:focus,
.addButton:hover {
	background: #9dc888;
}

.iconAddColumnBtn {
	margin-right: 8px;
	width: 28px;
	height: 28px;
	padding: 7px;
	stroke: #fff;
	background-color: #161616;
	border-radius: 8px;
}

.textAddColumnBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.closeButton {
	position: absolute;
	top: 14px;
	right: 14px;
	background: transparent;
	border: none;
	font-size: 1.2em;
	cursor: pointer;
}

.btnCloseIcon {
	width: 18px;
	height: 18px;
	stroke: #fff;
}

.errorText {
	position: absolute;
	left: 25px;
	bottom: 80px;
	color: red;
	font-size: 12px;
}

/* _________VIOLET_________ */

.violet .modal {
	background: #fcfcfc;
}

.violet .modalTitle {
	color: #161616;
}

.violet .input {
	border: 1px solid rgba(82, 85, 188, 0.3);
	background: #fff;
	color: #161616;
}

.violet .input:focus,
.violet .input:hover {
	background-color: #fdfdfd;
	border-color: rgba(82, 85, 188, 1);
	outline: none;
}

.violet .addButton {
	background: rgba(82, 85, 188, 1);
}

.violet .addButton:focus,
.violet .addButton:hover {
	background-color: rgba(123, 126, 222, 1);
}

.violet .iconAddColumnBtn {
	stroke: #161616;
	background-color: #fff;
}

.violet .btnCloseIcon {
	stroke: #161616;
}

/* _________LIGHT_________ */

.light .modal {
	background: #fcfcfc;
}

.light .modalTitle {
	color: #161616;
}

.light .input {
	border: 1px solid rgba(190, 219, 176, 0.4);
	background: #fff;
	color: #161616;
}

.light .input:focus,
.light .input:hover {
	background-color: #fcfcfc;
	border-color: rgba(190, 219, 176, 1);
	outline: none;
}

.light .addButton {
	background: #bedbb0;
}

.light .addButton:focus,
.light .addButton:hover {
	background-color: rgba(157, 200, 136, 1);
}

.light .iconAddColumnBtn {
	stroke: #161616;
	background-color: #fff;
}

.light .btnCloseIcon {
	stroke: #161616;
}

@media screen and (max-width: 374px) {
	.modal {
		width: 300px;
	}

	.addButton {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.modal {
		max-width: 350px;
	}

	.addButton {
		width: 302px;
	}
}
