/* cardContainer */
.cardContainer {
	position: relative;

	width: 334px;
	height: 154px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 20px;
	padding-left: 24px;

	border-radius: 8px;
}

.cardContainer_dark {
	background-color: var(--secondary-color-black-background);
}

.cardContainer_light {
	background-color: #fff;
}

.cardContainer_violet {
	background-color: #fff;
}

/* stick */

.stick {
	position: absolute;
	left: 0;
	top: 0;

	height: 100%;
	width: 4px;

	border-radius: 4px 0px 0px 4px;

	background-color: rgba(22, 22, 22, 0.3);
}

.stick.dark {
	background-color: var(--color4);
}

.stick.low {
	background-color: var(--color1);
}

.stick.medium {
	background-color: var(--color2);
}

.stick.high {
	background-color: var(--color3);
}

/* title */

.title {
	margin-bottom: 8px;

	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.02em;
}

.title_dark {
	color: #fff;
}

.title_light {
	color: #201e1e;
}

.title_violet {
	color: #161616;
}

/* text */

.text {
	display: -webkit-box;
	flex-shrink: 0;

	width: 290px;
	height: 34px;

	margin-bottom: 14px;

	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;

	font-size: 12px;
	font-weight: 400;
	line-height: 1.33;
	letter-spacing: -0.02em;
}

.text_dark {
	color: rgba(255, 255, 255, 0.5);
}

.text_light {
	color: rgba(22, 22, 22, 0.7);
}

.text_violet {
	color: rgba(22, 22, 22, 0.7);
}

/* bottomBox */
.bottomBox {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	width: 100%;

	padding-top: 14px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bottomBox.light,
.bottomBox.violet {
	border-top-color: rgba(22, 22, 22, 0.1);
}

.bottomBox
/* priorityTimeBox */

.priorityDeadlineBox {
	display: flex;
	gap: 14px;
}

/* priorityTitle */

.bottomTitle {
	margin-bottom: 4px;

	font-size: 8px;
	font-weight: 400;
	letter-spacing: -0.02em;
}

.bottomTitle_dark {
	color: rgba(255, 255, 255, 0.5);
}

.bottomTitle_light {
	color: rgba(22, 22, 22, 0.5);
}

.bottomTitle_violet {
	color: rgba(22, 22, 22, 0.5);
}

/* priorityFlexbox */

.priorityFlexbox {
	display: flex;
	align-items: center;
	gap: 4px;
}

/* priorityText */

.priorityText {
	text-transform: capitalize;

	font-size: 10px;
	font-weight: 400;
	letter-spacing: -0.02em;
}

.priorityText_dark {
	color: #fff;
}

.priorityText_light {
	color: #161616;
}

.priorityText_violet {
	color: #161616;
}

/* priorityCircle */

.priorityCircle {
	width: 12px;
	height: 12px;

	margin-right: 4px;

	border-radius: 50%;
	background-color: rgba(22, 22, 22, 0.3);
}

.priorityCircle.dark {
	background-color: var(--color4);
}

.priorityCircle.low {
	background-color: var(--color1);
}

.priorityCircle.medium {
	background-color: var(--color2);
}

.priorityCircle.high {
	background-color: var(--color3);
}

/* deadlineText */

.deadlineText {
	font-size: 10px;
	font-weight: 400;
	letter-spacing: -0.02em;
}

.deadlineText_dark {
	color: #fff;
}

.deadlineText_light {
	color: #161616;
}

.deadlineText_violet {
	color: #161616;
}

/* iconBox */

.iconBox {
	position: relative;
	display: flex;
	gap: 8px;
}

/* iconRingBox */

.iconRingBox {
	position: relative;

	height: 16px;

	margin-right: 5px;
}

/* filter */

.filter {
	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	background-color: var(--color-green-background);
	width: 10px;
	height: 10px;
	filter: blur(5.5px);
}

.filter.light {
	filter: blur(9.5px);
}

.filter.violet {
	background-color: var(--secondary-color-violet);
	filter: blur(7.5px);
}

/* iconRing */

@keyframes ring {
	0% {
		transform: rotate(0deg);
	}

	10% {
		transform: rotate(15deg);
	}

	20% {
		transform: rotate(-12deg);
	}

	30% {
		transform: rotate(10deg);
	}

	40% {
		transform: rotate(-8deg);
	}

	50% {
		transform: rotate(6deg);
	}

	60% {
		transform: rotate(-4deg);
	}

	70% {
		transform: rotate(2deg);
	}

	80% {
		transform: rotate(-1deg);
	}

	90% {
		transform: rotate(0.5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.iconRing {
	cursor: pointer;

	height: 16px;
	width: 16px;

	transform-origin: top center;

	fill: none;
	stroke: var(--color-green-background);
}

.cardContainer:hover .iconRing {
	animation: ring 1.5s ease-in-out;
}

.iconRing.violet {
	stroke: var(--primary-color-violet);
}

/* btn */

.btn {
	width: 16px;
	height: 16px;

	border: none;
	background-color: transparent;
}

/* icon */

.icon {
	width: 16px;
	height: 16px;

	transition: stroke 250ms ease-in;

	stroke: var(--color-icons-board);
	fill: none;
}

.btn:hover .icon {
	stroke: var(--primary-color-text-black);
}

.btn:disabled {
	cursor: default;
}

.btn:disabled:hover .icon {
	stroke: var(--color-icons-board);
}

.icon_dark {
	stroke: var(--color-icons);
}

.btn:hover .icon_dark {
	stroke: var(--primary-color-text-white);
}
