.icon {
	width: 14px;
	height: 14px;
	stroke: var(--secondary-color-white-background);
}

.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	background-color: #161616;
	margin-right: 8px;
	border-radius: 6px;
}
