.btn {
	display: flex;
	padding: 14px 78px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: #bedbb0;
	border: none;
	height: 56px;
	width: 335px;
	flex-shrink: 0;
}

.violet .btn {
	background: #5255bc;
}

.icon {
	width: 28px;
	height: 28px;
	margin-right: 8px;
	padding: 7px;
	stroke: #ffffff;
	background-color: #161616;
	border-radius: 8px;
}

.violet .icon {
	stroke: #161616;
	background-color: #fff;
}

.light .icon {
	stroke: #fff;
	background-color: #161616;
}

.textAddCard {
	color: #161616;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.28px;
}

.violet .textAddCard {
	color: #ffffff;
}

.light .textAddCard {
	color: #161616;
}

/* desktop */
.columnWrap {
	display: flex;
	position: relative;
	flex-direction: column;
	flex-shrink: 0;

	gap: 14px;
	height: 100%;
}

.cardList {
	display: flex;
	flex-direction: column;
	gap: 8px;

	z-index: 2;

	margin-top: 75px;
	padding-right: 8px;

	border-radius: 8px;

	overflow-y: auto;
	overflow-x: hidden;
}

/* стилі скроллу dark */
.cardList::-webkit-scrollbar {
	width: 8px;
	border: 0;
}

.cardList::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: var(--secondary-color-black-background);
}

.cardList::-webkit-scrollbar-track {
	border-radius: 12px;
	background-color: var(--column-scroll-track-dark);
}

/* стилі скроллу light */
.cardList.light::-webkit-scrollbar-thumb {
	background-color: var(--color-green);
}

.cardList.light::-webkit-scrollbar-track {
	background-color: var(--secondary-color-background);
}

.cardList.violet::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color-violet);
}

.cardList.violet::-webkit-scrollbar-track {
	background-color: var(--secondary-color-background);
}
