.themeModal {
	position: absolute;
	z-index: 10000;
	display: block;
	right: -22px;
	top: 0;
}

.list {
	min-width: 135px;
	max-width: 180px;
	max-height: 86px;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	align-items: flex-start;
	border-radius: 8px;
	box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.2);
	display: inline-flex;
	flex-direction: column;
	gap: 4px;
	list-style: none;
	padding: 10px 18px;
	line-height: 1.7;
	background: var(--primary-color-black-background);
	z-index: 999;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.list.light,
.list.violet {
	background: var(--primary-color-background);
}

.list::-webkit-scrollbar {
	display: none;
}

.list li {
	width: 100%;
}

.btn {
	width: 100%;

	display: flex;
	justify-content: space-between;
	gap: 8px;

	cursor: pointer;
	background-color: transparent;
	border: none;
	color: var(--secondary-color-text-gray);
}

.btn span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	letter-spacing: -0.02em;
	line-height: 21px;
	/* transition: color 250ms ease-in; */
}

.btn.light,
.btn.violet {
	color: var(--primary-color-text);
}

.btn:hover {
	color: var(--color-green-background);
}

.btn.light:hover {
	color: var(--color-green-background);
}

.btn.violet:hover {
	color: var(--primary-color-violet);
}

.icon {
	width: 16px;
	height: 16px;

	transition: stroke 200ms ease;

	stroke: var(--secondary-color-text-gray);
	fill: none;
}

.btn:hover .icon {
	stroke: var(--color-green-background);
}

.icon.light,
.icon.violet {
	stroke: var(--primary-color-text);
}

.btn.light:hover .icon {
	stroke: var(--color-green-background);
}

.btn.violet:hover .icon {
	stroke: var(--primary-color-violet);
}

.transition {
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
