.form {
	width: 287px;
}

/* inputBox */

.inputBox {
	margin-bottom: 14px;
}

.inputBox>.error {
	margin: 0;
}

/* input */

.input {
	width: 100%;
	height: 49px;

	padding-left: 18px;

	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.02em;

	transition: border-color 250ms ease-in;

	border: 1px solid rgba(190, 219, 176, 0.4);
	border-radius: 8px;
	box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);

	background-color: transparent;
	color: var(--primary-color-text-white);
}

.input:focus {
	border-color: var(--color-green);
}

.input.light {
	color: var(--primary-color-text-black);
}

.input.violet {
	color: var(--primary-color-text-black);
	border-color: rgba(82, 85, 188, 0.4);
}

.input:focus.violet {
	border-color: var(--primary-color-violet);
}

/* textarea */

.textarea {
	width: 100%;
	height: 154px;

	padding: 14px 18px;
	margin-bottom: 24px;

	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.02em;

	transition: border-color 250ms ease-in;

	border: 1px solid rgba(190, 219, 176, 0.4);
	border-radius: 8px;
	box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
	resize: none;

	background-color: transparent;
	color: var(--primary-color-text-white);
}

.textarea:focus {
	border-color: var(--color-green);
}

.textarea.light {
	color: var(--primary-color-text-black);
}

.textarea.violet {
	color: var(--primary-color-text-black);
	border-color: rgba(82, 85, 188, 0.4);
}

.textarea:focus.violet {
	border-color: var(--primary-color-violet);
}

/* title */

.title {
	margin-bottom: 4px;

	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.02em;

	color: var(--color-icons-board);
}

.title.dark {
	color: var(--color-icons);
}

/* priorityBox */

.priorityBox {
	display: flex;
	gap: 8px;

	margin-bottom: 14px;
}

/* priorityBtn */

.priorityBtn {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* priorityCircle */

.priorityCircle {
	cursor: pointer;

	height: 14px;
	width: 14px;

	border-radius: 50%;

	transition: background-color 250ms ease-in;

	background-color: rgba(22, 22, 22, 0.3);
	border: 1px solid rgb(183, 183, 183);
}

.priorityCircle.dark {
	background-color: var(--color4);
	border-color: rgb(92, 92, 92);
}

.priorityCircle.low {
	background-color: var(--color1);
	border-color: var(--color1);
}

.priorityCircle.medium {
	background-color: var(--color2);
	border-color: var(--color2);
}

.priorityCircle.high {
	background-color: var(--color3);
	border-color: var(--color3);
}

.priorityBtn:checked+.priorityCircle {
	background-color: transparent;
}

/* priorityCircleInside */

.priorityCircleInside {
	height: 100%;
	width: 100%;
	background-color: inherit;
	border-radius: 50%;

	transition: transform 250ms ease-in;

	background-color: rgba(22, 22, 22, 0.3);
}

.priorityCircleInside.dark {
	background-color: rgb(92, 92, 92);
}

.priorityCircleInside.low {
	background-color: var(--color1);
}

.priorityCircleInside.medium {
	background-color: var(--color2);
}

.priorityCircleInside.high {
	background-color: var(--color3);
}

.priorityBtn:checked+.priorityCircle>.priorityCircleInside {
	opacity: 1;
	transform: scale(50%);
}

.deadlineBox {
	margin-bottom: 40px;

}

/* iconWrapper */

.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 28px;
	height: 28px;

	margin-right: 8px;

	border-radius: 8px;
	background-color: var(--primary-color-text-black);
}

.iconWrapper.violet {
	background-color: var(--primary-color-text-white);
}

/* icon */

.icon {
	fill: none;
	stroke: var(--primary-color-text-white);
	width: 14px;
	height: 14px;
}

.icon.violet {
	stroke: var(--primary-color-text-black);
}

/* Стилі для повідомлень про помилки */
.error {
	position: absolute;

	color: red;
	font-size: 12px;
	margin-top: 4px;
}

@media screen and (min-width: 768px) {
	.form {
		width: 302px;
	}
}