.form {
	background-color: rgb(21, 21, 21);
	border-radius: 8px;
	padding: 24px;
	margin: 0 auto;
	color: rgba(22, 22, 22, 0.08);
	@media screen and (min-width: 768px) {
		width: 424px;
		padding: 40px;
	}
}

.formTitle {
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
}

.formTitle h1 {
	color: #fff;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.0225rem;
	margin-right: 0.88em;
}

.link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.0225rem;
	margin-right: 0.88em;
}

.link:hover {
	color: #a6a6a6;
}

.inputWrap {
	margin-bottom: 16px;
	position: relative;
}

.formInput {
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(190, 219, 176, 0.3);
	border-radius: 5px;
	background-color: rgba(31, 31, 31, 1);
	color: rgba(255, 255, 255, 0.8);
	position: relative;
}

.formInput::placeholder {
	color: rgb(108, 108, 108);
}

.formInput:focus {
	background-color: rgba(31, 31, 31, 1);
	border-color: rgba(190, 219, 176, 1);
	outline: none;
}

/* style for autofill data */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 0 0px 40rem rgba(31, 31, 31, 1) inset;
}

.error {
	border-color: #ff4c4c;
}

.errors {
	color: #ff4c4c;
	font-size: 10px;
	line-height: 10px;
	margin-top: 5px;
	position: absolute;
	top: 110%;
	left: 0;
	transform: translateY(-45%);
}

.formBtn {
	width: 100%;
	padding: 10px;
	background-color: rgba(190, 219, 176, 1);
	border: none;
	border-radius: 5px;
	color: rgba(22, 22, 22, 1);
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
}

.formBtn:hover {
	background-color: rgba(157, 200, 136, 1);
}

.icon {
	width: 19px;
	height: 18px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	/* fill: #6c6c6c; */
	cursor: pointer;
	stroke: #e0e0e0;
	fill: #1f1f1f;
}

.icon:hover {
	stroke: #fff;
}
