.box {
	display: flex;
	gap: 18px;

	overflow-x: auto;
	overflow-y: hidden;

	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 24px;
	margin-bottom: 24px;

	max-width: 100%;
	height: 100%;
}

/* scroll styles dark */
.box::-webkit-scrollbar {
	height: 12px;
	border: 0;
}

.box::-webkit-scrollbar-thumb:horizontal {
	border-radius: 12px;
	background-color: var(--secondary-color-black-background);
}

.box::-webkit-scrollbar-track:horizontal {
	border-radius: 12px;
	background-color: var(--column-scroll-track-dark);
	margin: 0 20px;
}

/* scroll styles light */
.box.light::-webkit-scrollbar-thumb {
	background-color: var(--color-green);
}

.box.light::-webkit-scrollbar-track {
	background-color: var(--secondary-color-background);
}

/* scroll styles violet */
.box.violet::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color-violet);
}

.box.violet::-webkit-scrollbar-track {
	background-color: var(--secondary-color-background);
}

@media screen and (min-width: 768px) {
	.box {
		padding-left: 32px;
		padding-bottom: 52px;
		margin-bottom: 32px;
	}

	.box::-webkit-scrollbar-track:horizontal {
		margin: 0 32px;
	}
}

@media screen and (min-width: 1440px) {
	.box {
		padding-left: 24px;
		padding-bottom: 15px;
		margin-bottom: 8px;
	}

	.box::-webkit-scrollbar-track:horizontal {
		margin: 0 24px;
	}
}
