.box {
	display: flex;
	align-items: center;
	gap: 8px;

	margin-bottom: 70px;
}

.iconBox {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 32px;
	height: 32px;

	border-radius: 7px;
}

.iconBox_dark {
	background-color: var(--primary-color-black-background);
}

.iconBox_light {
	background-color: var(--primary-color-black-background);
}

.iconBox_violet {
	background-color: #ecedfd;
}

.text {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.04em;
}

.text_dark {
	color: var(--primary-color-text-white);
}

.text_light {
	color: var(--primary-color-text);
}

.text_violet {
	color: var(--primary-color-text-white);
}

@media screen and (min-width: 768px) {
	.box {
		margin-bottom: 60px;
	}
}
