/* backdrop */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(21, 21, 21, 0.3);
	z-index: 999;
}

.backdrop.dark {
	background-color: rgba(21, 21, 21, 0.5);
}

/* modal */

.modal {
	position: fixed;
	top: 50%;
	left: 50%;

	padding: 24px;

	transform: translate(-50%, -50%);

	border-radius: 10px;
	z-index: 1000;

	background-color: var(--primary-color-white-background);
}

.modal.dark {
	background-color: var(--color-form-background);
}

/* closeBtn */

.closeBtn {
	position: absolute;
	top: 14px;
	right: 14px;

	border: none;

	background-color: transparent;
}

.iconBtn {

	height: 18px;
	width: 18px;

	fill: none;
	stroke: var(--primary-color-text);
}

.iconBtn.dark {
	stroke: var(--primary-color-text-white);
}

/* title */

.title {
	margin-bottom: 24px;

	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.02em;

	color: var(--primary-color-text);
}

.title.dark {
	color: var(--primary-color-text-white);
}