/* backdrop */

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;

	background-color: rgba(21, 21, 21, 0.3);
	z-index: 999;
	animation: fadeIn 0.3s forwards;
}

.backdrop.dark {
	background-color: rgba(21, 21, 21, 0.5);
}

/* modal */

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translate(-50%, -60%);
	}

	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	to {
		opacity: 0;
		transform: translate(-50%, -60%);
	}
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;

	padding: 24px;

	transform: translate(-50%, -50%);

	border-radius: 10px;
	z-index: 1000;

	background-color: var(--primary-color-white-background);
	animation: slideIn 0.3s forwards;
}

.modal.dark {
	background-color: var(--color-form-background);
}

/* closeBtn */

.closeBtn {
	position: absolute;
	top: 14px;
	right: 14px;

	border: none;

	background-color: transparent;
}

.iconBtn {
	height: 18px;
	width: 18px;

	fill: none;
	stroke: var(--primary-color-text);
}

.iconBtn.dark {
	stroke: var(--primary-color-text-white);
}

/* title */

@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

.title {
	margin-bottom: 24px;
	overflow: hidden;
	text-wrap: nowrap;
	width: 0;

	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.02em;
	animation: typing 1s 250ms steps(20, end) forwards;

	color: var(--primary-color-text);
}

.title.dark {
	color: var(--primary-color-text-white);
}

.fadeOut {
	animation: fadeOut 0.3s forwards;
}

.animateOut {
	animation: slideOut 0.3s forwards;
}