.headerDashboardContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(31, 31, 31, 1);
}

.titleHeaderDashboard {
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.28px;
	color: rgba(255, 255, 255, 1);
}

/* _________VIOLET_________ */

.violet .headerDashboardContainer {
	background-color: rgba(184, 188, 253, 1);
}

.violet .titleHeaderDashboard {
	color: rgba(22, 22, 22, 1);
}

/* _________LIGHT_________ */

.light .headerDashboardContainer {
	background-color: #f6f6f7;
}

.violet .titleHeaderDashboard {
	color: rgba(22, 22, 22, 1);
}
