.header {
	height: 60px;
	background-color: rgba(22, 22, 22, 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;

	@media screen and (min-width: 768px) {
		height: 68px;
	}
}

.burgerBtn {
	height: min-content;
	width: min-content;
	border: 0;
	background-color: transparent;
}

.userIcon {
	width: 142px;
	height: 42px;
	color: rgba(255, 255, 255, 0.5);
	margin-right: 8px;

	@media screen and (min-width: 768px) {
		height: 24px;
	}
}

.rightSection {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.btnTheme {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	display: inline-flex;
	align-items: center;
}

.btnTheme svg {
	margin-left: 4px;
	margin-right: 14px;
}
