.header {
	height: 60px;
	background-color: rgba(22, 22, 22, 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	transition: background-color 250ms ease-in;
}

@media screen and (min-width: 768px) {
	.header {
		height: 68px;
	}
}

.header.active {
	background-color: rgba(22, 22, 22, 1);
}
.header.light {
	background-color: rgba(252, 252, 252, 1);
}
.header.violet {
	background-color: var(--secondary-color-violet);
}

.burgerBtn {
	height: min-content;
	width: min-content;
	border: 0;
	background-color: transparent;
}

.userIcon {
	width: 142px;
	height: 42px;
	color: rgba(255, 255, 255, 0.5);
	margin-right: 8px;
}

@media screen and (min-width: 768px) {
	.userIcon {
		height: 24px;
	}
}

.userIcon.light {
	color: var(--primary-color-black-background);
}

.userIcon.violet {
	color: var(--primary-color-white-background);
}

.rightSection {
	display: flex;
	align-items: center;
	margin-left: auto;
	background-color: transparent;
}

.btnTheme {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	display: inline-flex;
	align-items: center;
}
.btnTheme.light {
	color: rgba(22, 22, 22, 0.8);
}
.btnTheme.violet {
	color: rgba(22, 22, 22, 0.8);
}

.btnTheme svg {
	margin-left: 4px;
	margin-right: 14px;
}
