.header {
	height: 60px;
	background-color: rgba(22, 22, 22, 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	@media screen and (min-width: 768px) {
		height: 68px;
	}
}

.homeImg {
	max-width: 124px;
	max-height: 124px;
	margin-bottom: 14px;
	@media screen and (min-width: 768px) {
		max-width: 162px;
		max-height: 162px;
		margin-bottom: 24px;
	}
}

.userIcon {
	font-size: 48px;
	color: rgba(255, 255, 255, 0.5);
}
