.columnHead {
	width: 334px;
	padding: 18px 20px;
	border-radius: 8px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: background-color 250ms ease-in;
	background-color: var(--secondary-color-black-background);
}

.columnHead.light {
	background-color: var(--secondary-color-background);
	color: var(--primary-color-text);
}
.columnHead.violet {
	background-color: var(--secondary-color-background);
	color: var(--primary-color-text);
}

/* icons */
.columnHeadIconsWrap {
	display: flex;
	gap: 8px;
}

.btn {
	width: 16px;
	height: 16px;

	border: none;
	background-color: transparent;
}

.icon {
	width: 16px;
	height: 16px;
	stroke: var(--color-icons-board);

	fill: none;
	transition: stroke 250ms ease-in;
}

.btn:hover .icon {
	stroke: var(--primary-color-text-black);
}

.icon_dark {
	stroke: var(--color-icons);
}

.btn:hover .icon_dark {
	stroke: var(--primary-color-text-white);
}

.icon_violet {
	stroke: var(--color-icons-board);
}

.btn:hover .icon_violet {
	stroke: var(--primary-color-text-black);
}

/* title */
.title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	max-width: 100%;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: -0.02em;
	color: var(--primary-color-text-white);
}

.title.light {
	color: var(--primary-color-text);
}

.title.violet {
	color: var(--primary-color-text);
}
