.wrap {
	max-width: 100%;
	margin-left: auto;
	display: flex;
	align-items: center;
	background: transparent;
	padding-right: 4px;
}

.name {
	/* color: #fff; */
	color: var(--primary-color-text-white);
	font-family: Poppins, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.28px;
}
.name.active {
	color: rgba(255, 255, 255, 0.8);
}
.name.light {
	color: var(--primary-color-text);
}
.name.violet {
	color: var(--primary-color-text);
}

.userinfo {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

@media screen and (min-width: 768px) {
	.wrap {
		height: 68px;
	}
}
