.wrap {
	max-width: 100%;
	margin-left: auto;
	display: flex;
	align-items: center;
	background: #161616;
    padding-right: 4px;
}


.name {
	color: #fff;
    font-family: Poppins, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.28px;
}

.userinfo {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

@media screen and (min-width: 768px) {
    .wrap {
        height: 68px;
    }
}
