/* backdrop */
.backdrop {
	position: fixed;

	width: 100%;
	height: 100%;

	pointer-events: none;
	opacity: 0;
	transition: opacity 250ms ease-in;

	background-color: rgba(21, 21, 21, 0.5);
	z-index: 99;
}

.backdrop.open {
	transition: opacity 250ms ease-in;
	pointer-events: all;
	opacity: 1;
}

.backdrop.light,
.backdrop.violet {
	background-color: rgba(21, 21, 21, 0.3);
}

/* box */
.box {
	position: fixed;
	left: -225px;

	transform: translateX(0);
	transition: transform 250ms ease-in;
	z-index: 100;

	display: flex;
	flex-direction: column;

	width: 225px;
	height: 100vh;
}

.box.open {
	transform: translateX(100%);
}

.box_dark {
	background-color: var(--secondary-color-black-background);
}

.box_light {
	background-color: var(--secondary-color-background);
}

.box_violet {
	background-color: var(--primary-color-violet);
}

/* topBox */
.topBox {
	padding-top: 14px;
	padding-left: 14px;
	padding-right: 14px;
}

.bottomBox {
	padding-bottom: 14px;
	padding-left: 14px;
	padding-right: 14px;
}

/* myBoardText */
.myBoardText {
	margin-bottom: 8px;

	font-size: 12px;
	letter-spacing: -0.02em;
}

.myBoardText_dark {
	color: var(--secondary-color-text-gray);
}

.myBoardText_light {
	color: var(--color-icons-board);
}

.myBoardText_violet {
	color: var(--secondary-color-text-gray);
}

/* sidebarBoardsBox */
.sidebarBoardsBox {
	flex-grow: 1;
	overflow-y: scroll;
}

.sidebarBoardsBox::-webkit-scrollbar {
	display: none;
}

@media screen and (min-width: 768px) {
	.box {
		left: -260px;
		width: 260px;
	}

	.topBox {
		padding-top: 24px;
		padding-left: 24px;
		padding-right: 24px;
	}

	.bottomBox {
		padding-bottom: 24px;
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media screen and (min-width: 1440px) {
	.box {
		position: static;
		transform: 0;
	}
}
