.input {
	margin-bottom: 24px;
	width: 100%;
	padding: 14px 0px 14px 18px;
	border: 1px solid #bedbb05f;
	border-radius: 5px;
	background: #1f1f1f;
	color: white;
	font-size: 1em;
	box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
	transition: border 250ms ease-in;
}

.input:focus,
.input:active {
	border: 1px solid #bedbb0;
}

.addButton {
	display: flex;
	width: 302px;
	padding: 10px 0px 11px 0px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background-color: #bedbb0;
	border: none;
	cursor: pointer;
	transition: background-color 250ms ease-in;
}

.addButton:hover {
	background-color: #9dc888;
}

.iconAddColumnBtn {
	margin-right: 8px;
	width: 28px;
	height: 28px;
	padding: 7px;
	stroke: #fff;
	background-color: #161616;
	border-radius: 8px;
}

.textAddColumnBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.closeButton {
	position: absolute;
	top: 14px;
	right: 14px;
	background: transparent;
	border: none;
	font-size: 1.2em;
	cursor: pointer;
}

.btnCloseIcon {
	width: 18px;
	height: 18px;
	stroke: #fff;
}

/* _________VIOLET_________ */

.violet.input {
	border: 1px solid #5255bc5b;
	background: #fff;
	color: #161616;
}

.violet.input:focus,
.violet.input:active {
	border: 1px solid #5255bc;
}

.violet.addButton {
	background-color: #5255bc;
}

.violet.addButton:hover {
	background-color: #7b7ede;
}

.violet.iconAddColumnBtn {
	stroke: #161616;
	background-color: #fff;
}

.violet.btnCloseIcon {
	stroke: #161616;
}

.violet.textAddColumnBtn {
	color: var(--secondary-color-white-background);
}

/* _________LIGHT_________ */

.light.input {
	border: 1px solid #bedbb05f;
	background: #fff;
	color: #161616;
}

.light.input:focus,
.light.input:active {
	border: 1px solid #bedbb0;
}

.light.addButton {
	background-color: #bedbb0;
}

.light.addButton:hover {
	background-color: #9dc888;
}

.light.iconAddColumnBtn {
	stroke: #161616;
	background-color: #fff;
}

.light.btnCloseIcon {
	stroke: #161616;
}
